{% extends "everything/main.html" %}
{% load static %}
{% block content %}
<div class="wrapper">
  <!-- Navbar -->
{% include "client/navbar1.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payment Submition</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'HomePage1' %}">Home</a></li>
              <li class="breadcrumb-item active">Payment</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12">
            <!-- general form elements -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Payment Varification Form</h3>
              </div>

              <form method="POST" enctype="multipart/form-data" action="">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="Client_name">Client Name</label>
                    <select class="custom-select rounded-0" style="width: 100%;" name="Client_name" >
                      <option value="">---Chose your name---</option>
                      {% for roo in client %}
                        <option value="{{roo.Client_Name}}">{{roo.Client_Name}}</option>   
                      {% endfor %}                
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Room_ID">Room Id</label>
                    <select class="custom-select rounded-0" style="width: 100%;" name="Room_ID" >
                      <option value="">---Select your Room---</option>
                      {% for roo in rooms %}
                          {% if roo.Room_Name in unavaliable_room %}
                            <option  value="{{room.Room_Been_Registered}}">Room number {{ roo.Room_Name }} is unavaliable</option>
                          {% elif roo.Room_Name in reserved_rom %}
                            <option  value="{{room.Room_Been_Registered}}">{{ roo.Room_Name }} is reserved</option>
                          {% elif room.Room_Been_Registered == roo %}
                            <option value="{{room.Room_Been_Registered}}" selected="selected">{{room.Room_Been_Registered}} is currently selected</option>
                          {% else %}
                            <option  value="{{roo.Room_Name}}" {% if roo.id == id %} selected="selected"  {% endif %}>{{ roo.Room_Name }}</option>
                          {% endif %}
                      {% endfor %}
                      
                    </select>

                  </div>
                  <div class="form-group">
                    <label for="Photo_Bill">Photo of the Bill</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <label class="custom-file-label" for="Photo_Bill">Choose file</label>
                        <input type="file" class="custom-file-input" name="Photo_Bill" id="exampleInputFile">
                        
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                  <a class="btn btn-primary float-right" value="None" href="{% url 'HomePage1' %}">Exit</a>
                  {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}        
                  {% endif %}
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- bs-custom-file-input -->
<script src="{% static 'js/bs-custom-file-input.min.js' %}"></script>

<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock content %}


