{% extends "everything/main.html" %}
{% load static %}
{% block content %}


<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>

{% include 'everything/navbar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard Totallity</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'LogoutPage' %}">Logout</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="{% url 'DashbordTablePage' %}"><i class="fas fa-cog"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Room Adminstration</span>
                <span class="info-box-number">
                  {{ room.count }} Rooms
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="{% url 'DashbordTablePageClient' %}"><i class="fas fa-user-plus"></i></a></span>
              <div class="info-box-content">
                <span class="info-box-text">Clients Adminstration</span>
                <span class="info-box-number">{{ client.count }} Clients
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="{% url 'DashbordTablePageReservation' %}"><i class="far fa-calendar-alt"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Adminster Reservation</span>
                <span class="info-box-number"><a href='{% url "DashbordTablePageReservation" %}'>Click Here</a></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href='{% url "ClientRegisterationPage" %}'><i class="fas fa-users"></a></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Register Client</span>
                <span class="info-box-number"><a href='{% url "ClientRegisterationPage" %}'>Click Here</a></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->


<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'js/raphael.min.js' %}"></script>
<script src="{% static 'js/jquery.mapael.min.js' %}"></script>
<script src="{% static 'js/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'js/Chart.min.js' %}"></script>



{% endblock content %}