{% extends "everything/main.html" %}
{% block content %}
<div class="wrapper">
  <!-- Navbar -->
{% include "everything/navbar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Make Reservation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Make reservation</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->


                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="card card-danger card-center">                  
                      <div class="card-header">
                          <h3 class="card-title">Customers Information</h3>
                      </div>


                      <div class="card-body">
                            <div class="form-group">
                                <label for="Customer_Name">Customer Name</label>
                                <input type="text" name="Customer_Name" value="{{reservation.Customer_Name}}" placeholder="What is client name.." class="form-control"/>
                            </div>  
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" name="Email" value="{{reservation.Email}}"  placeholder="What is Email" class="form-control"/>
                            </div>   
                            <div class="form-group">
                                <label for="Phone_Number">Phone Number</label>
                                <input type="number" name="Phone_Number" value="{{reservation.Phone_Number}}"  placeholder="What is Phone Number" class="form-control"/>
                            </div> 
                            <div class="form-group">
                                <label for="Client_Address">Client Address</label>
                                <input type="text" name="Client_Address" value="{{reservation.Client_Address}}"  placeholder="What is Client Address" class="form-control"/>
                            </div> 
                            <div class="form-group">
                                <label for="Date_of_Registration">Date of Registration</label>
                                <input type="date" name="Date_of_Registration" value="{{reservation.Date_of_Registration|date:'Y-m-d'}}"  placeholder="What is Date of Registration" class="form-control"/>
                            </div>    
                      </div>
    
                      <div class="card-header">
                        <h3 class="card-title">Room and payment Information</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <div class="card-body">

                        <div class="form-group">
                            <label for="Advance_payed">Advance payed</label>
                            <input type="number" name="Advance_payed" value="{{reservation.Advance_payed}}"  placeholder="Advance payed" class="form-control"/>
                        </div> 


                        <div class="form-group">
                          <label for="Tin_Number">Tin Number</label>
                          <input type="number" name="Tin_Number" value="{{reservation.Tin_Number}}"  placeholder="Tin Number" class="form-control"/>
                        </div> 

                        <div class="form-group">
                            <label for="Room_Number">Room Id</label>
                            <select class="custom-select rounded-0" style="width: 100%;" name="Room_Number" >
                            <option value="">--- Select Room ---</option>
                            {% for roo in rooms %}
                              {% if roo.Room_Name in unavaliable_room %}
                                <option  value="{{roo.Room_Name}}">You can't use {{roo.Room_Name}}</option>
                              {% elif reservation.Room_Number == roo %}
                                <option  value="{{roo.Room_Name}}" selected="selected" >selected room is {{roo.Room_Name}}</option>
                              {% else %}
                                <option  value="{{roo.Room_Name}}">{{roo.Room_Name}}</option>
                              {% endif %}
                                
                            {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                        
                            <label for="Payment_Method">Payment Method</label>
                            <select name="Payment_Method"  value="{{reservation.Payment_Method}}"   class="custom-select rounded-0" style="width: 100%;">
                                <option  value="Every Month" >---  Select Paymet Duration  ---</option>
                                <option  value="Every Month" {% if reservation.Payment_Method == 'Every Month' %} selected="selected" {% endif %}> Every Month</option>
                                <option  value="Every 3 Month" {% if reservation.Payment_Method == 'Every 3 Month' %} selected="selected" {% endif %} > Every 3 Month</option>
                                <option  value="Every 6 Month" {% if reservation.Payment_Method == 'Every 6 Month' %} selected="selected" {% endif %}> Every 6 Month</option>
                                <option  value="Every Year"{% if reservation.Payment_Method == 'Every Year' %} selected="selected" {% endif %}> Every Year</option>

                            </select>

                        </div>
                      </div>

                      <div class="card-header">
                        <h3 class="card-title">Agrement Starting and Ending Date</h3>
                      </div>
                      <div class="card-body">

                        <div class="form-group">
                            <label for="Agrement_Starting_Date">Agrement Starting Date</label>
                            <input type="date" name="Agrement_Starting_Date" value="{{reservation.Agrement_Starting_Date|date:'Y-m-d'}}" class="form-control" placeholder="starting date">
                        </div>
                        <div class="form-group">
                            <label for="Agrement_Ending_Date">Agrement Ending Date</label>
                            <input type="date" name="Agrement_Ending_Date" value="{{reservation.Agrement_Ending_Date|date:'Y-m-d'}}" class="form-control" placeholder="starting date">
                        </div>

                      </div>
                      <!-- /.card-body -->
                      <div class="card-header">
                          <h3 class="card-title">Rentation Starting and ending date</h3>
                      </div>

                      <div class="card-body">                      
                          <div class="form-group">
                              <label for="Begining_Day">Begining Day</label>
                              <input type="date" value="{{reservation.Begining_Day|date:'Y-m-d'}}"  name="Begining_Day" class="form-control" placeholder="starting date">
                          </div>

                          <div class="form-group">
                              <label for="Ending_Day">Ending Day</label>
                              <input type="date" value="{{reservation.Ending_Day|date:'Y-m-d'}}" name="Ending_Day" class="form-control" placeholder="endining date">
                          </div>
                      </div>                          

                      <div class="card-footer">
                        <button type="submit" value=submit class="btn btn-primary">Submit</button>
                      </div>
                  </div>
                </form>  

            </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
    </section>
    <!-- /.content -->



  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock content %}

