{% extends "everything/main.html" %}
{% load static %}
{% block content %}


<div class="wrapper">


{% include "everything/navbar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Room View</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'DashbordPage' %}">Dashbord</a></li>
              <li class="breadcrumb-item active">Room Photos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% for some in room %}
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Photo of Room {{some.Room_Name}} </h3>
              </div>
              <div class="card-body">
                <div class="row mt-4">
                  <div class="col-sm-4">
                    <div class="position-relative" style="min-height: 180px;">
                      <img src="{{some.Photo_Room.url }}" alt="Photo 3" class="img-fluid">
                      <div class="ribbon-wrapper ribbon-xl">
                        <div class="ribbon bg-danger text-xl">
                          {{some.Room_Name}}
                        </div>
                      </div>
                    </div>
                  </div> 

                  <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                  <div id="accordion">
                    <div class="card card-success">
                      <div class="card-header">
                        <h4 class="card-title w-100">
                          <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                            Click to View Detaile
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        Room Name: {{some.Room_Name}}
                        <hr/>
                        Room Type: {{some.Room_Type}}
                        <hr/>
                        Room Catagory: {{some.Room_Catagory}}
                        <hr/>
                        Remark: {{some.Remark}}
                        <hr/>
                        Floor No: {{some.Floor_No}}
                        <hr/>
                        Room costes: {{some.Room_costes}}
                        <hr/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>             
              </div>
                         
            

            </div>
            {% endfor %}
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- Ion Slider -->
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<!-- Bootstrap slider -->
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').bootstrapSlider()

    /* ION SLIDER */
    $('#range_1').ionRangeSlider({
      min     : 0,
      max     : 5000,
      from    : 1000,
      to      : 4000,
      type    : 'double',
      step    : 1,
      prefix  : '$',
      prettify: false,
      hasGrid : true
    })
    $('#range_2').ionRangeSlider()

    $('#range_5').ionRangeSlider({
      min     : 0,
      max     : 10,
      type    : 'single',
      step    : 0.1,
      postfix : ' mm',
      prettify: false,
      hasGrid : true
    })
    $('#range_6').ionRangeSlider({
      min     : -50,
      max     : 50,
      from    : 0,
      type    : 'single',
      step    : 1,
      postfix : '°',
      prettify: false,
      hasGrid : true
    })

    $('#range_4').ionRangeSlider({
      type      : 'single',
      step      : 100,
      postfix   : ' light years',
      from      : 55000,
      hideMinMax: true,
      hideFromTo: false
    })
    $('#range_3').ionRangeSlider({
      type    : 'double',
      postfix : ' miles',
      step    : 10000,
      from    : 25000000,
      to      : 35000000,
      onChange: function (obj) {
        var t = ''
        for (var prop in obj) {
          t += prop + ': ' + obj[prop] + '\r\n'
        }
        $('#result').html(t)
      },
      onLoad  : function (obj) {
        //
      }
    })
  })
</script>
{% endblock content %}